$DIN-Next: 'DIN Next', 'Helvetica Neue', 'Roboto', sans-serif;
$Bryant-2: 'Bryant 2', 'Helvetica Neue', 'Roboto', sans-serif;

body {
    font-family: 'Helvetica Neue', 'Roboto', sans-serif;
    color: $text-grey;
}

::selection {
    background-color: $yellow;
}

%heading {
    font-family: 'Helvetica Neue', 'Roboto', sans-serif;
    margin: 0;
    text-rendering: optimizeLegibility;
}

%body {
    font-size: (18/16)+rem;
    line-height: (28/18);
    margin: 0;
    color: $text-grey;
    -webkit-font-smoothing: antialiased;

    * + & {
        margin-top: (24/18)+rem;
    }

    cite + & {
        margin-top: (32/18)+rem;
    }

    @include breakpoint-3 {
        line-height: (29/18);
    }
}

%body-large {
    font-size: (18/16)+rem;
    line-height: (28/18);
    margin: 0;
    color: $text-grey;

    * + & {
        margin-top: (20/16)+rem;
    }

    @include breakpoint-3 {
        font-size: (21/16)+rem;
        line-height: (32/21);
    }
}

h1 {
    @extend %heading;
    font-weight: bold;
    font-size: (30/16)+rem;
    line-height: (44/30);

    * + &  {
        margin-top: 1.5rem;
    }

    .breadcrumb + & {
        margin-top: .1rem;
    }

    @include breakpoint-3 {
        font-size: (47/16)+rem;
        line-height: (64/47);
    }
}

h2 {
    @extend %heading;
}

h3 {
    @extend %heading;
}

h4 {
    @extend %body;
}

h5 {
    @extend %body;
}

h6 {
    @extend %body;
}

p, ul, ol, dl, li, address, blockquote, cite {
    @extend %body;
}

* + h3, * + h4, * + h5, * + h6, * + p, * + ul, * + ol, * + dl, * + li, * + address {
}

li + li {
}

address {
    font-style: normal;
}

blockquote {
    margin-left: 0;
    margin-right: 0;
    @extend %body-large;
    padding-left: 1.5rem;
    border-left: .25rem solid $light-blue;
}

cite {
    display: block;
    font-style: normal;
    color: $text-light-grey;

    &:before {
        content: '—';
    }

    blockquote + & {
        margin-left: 1.5rem;
    }
}

dl {
    @include clearfix;
}

    dt {
        display: inline;
        font-weight: bold;
        &:after {
            content: ': '
        }
    }

    dd {
        display: inline;
        margin: 0;
        margin-right: .5em;
    }

:link, :visited {
    color: $light-blue;
    text-decoration: none;
    &:hover {
        text-decoration: underline;
    }
}

label {
    cursor: pointer;
}

.text-intro {
    @extend %body-large;
}

.text-nowrap {
    white-space: nowrap;
}

.text-ellipsis {
    display: inline-block;
    max-width: 100%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;

    &:link {
        background-position: 0 1.35em
    }
}

.text-not-list {
    padding-left: 0;

    li {
        list-style-type: none;
    }
}

.text-light {
    opacity: .5;
}

.text-micro {
    font-family: $Bryant-2;
    font-size: (13/16)+rem;
    font-weight: 800;
    line-height: (16/13)+rem;
    text-transform: uppercase;
    letter-spacing: .0625em;
}